# Travis CI credentials

language: scala

scala:
 - "2.10.5"
 - "2.11.6"

# Branches to build.
branches:
  only:
    - master

jdk:
  - oraclejdk7
  - openjdk7

cache:
  directories:
    - $HOME/.ivy2/cache

before_script: travis_retry sbt ++$TRAVIS_SCALA_VERSION update

script: sbt ++$TRAVIS_SCALA_VERSION clean compile
